body {
    background: url('../img/background.svg') no-repeat center top / cover;
    font-family: 'Montserrat', sans-serif;
}

ol {
    list-style-type: none; 
}

.title {
    letter-spacing: 0.19em;
}

.tab {
    width: 404px;
    height: 114px;

    vertical-align: middle;
    display: table-cell;

    background: rgba(177, 182, 205, 0.9);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

.tab_viking {
    width: 404px;
    height: 114px;

    vertical-align: middle;
    display: table-cell;

    background: rgba(251, 145, 47, 0.74);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

.paragraf {
    width: 670px;
    height: 440px;

    background: rgba(251, 145, 47, 0.74);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 36px;
}

.paragraf_show {
    width: 670px;
    height: 440px;
    
    background: rgba(251, 145, 47, 0.74);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 36px;
}

.subtitle {
    
}

.block {
    width: 570px;
    height: 664px;
    border-radius: 36px;
    background: linear-gradient(45deg, #FFA927, #3A51B6);
    margin-top: 50px;
    color: #E5E5E5;
    font-size: 24px;
}

.copyrite {
    vertical-align: bottom;
}