* {
    font-family: 'Montserrat', sans-serif;
}
html {
    margin: 0;
    padding: 0;
}
/* Слайдер */
.slider{
    max-width: 80%;
    position: relative;
    max-height: 400px;
}
/* Картинка масштабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}
/* Кнопки вперед и назад */
.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/* Анимация слайдов */
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.all {
    margin-top: 5%;
    display: grid;
    place-items: left;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 3%;
    grid-content: end;
}


/*Footer and Header*/

/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #616161; 
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: Roboto;
    font-size: 16px;
    color: #616161;
}
/* -------------------- */
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* -------------------- */

.main {
    flex: 1 1 auto;
}


[class*="__container"]{
    max-width: 1087px;
    margin: 0 auto;
    padding: 0px 15px;
}

.header {
    background-color: #212529;
    padding: 10px 0 10px 0;
}
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header__logo {
}
.logo {
    width: 150px;
    
}
.header__menu {
    flex: 1 1 auto;
}
.header__contacts {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
    justify-content: center;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin: 0 70px 0 0;
}
.menu__link {
    color: #e0e0e0;
}
.menu__link:hover {
    color: #a1a1a1;
}

.contacts {
}
.menu__contacts {
}
.menu__item-contact {
}
.menu__link-contact {
    color: #e0e0e0;
    line-height: 1.8;
}
.menu__link-contact:hover {
    color: #a1a1a1;
}

.title {
    font-size: 32px;
    margin: 15px 0 40px 0;
}
.product_container {
    display: grid;
    gap: 20px;

    grid-template-columns: repeat(3, 1fr);
    align-content: end;
    margin: 0 0 25px 0;
}
.product {
    display: grid;
    justify-content: center;
}
.product__img {
    width: 350px;
    height: 350px;
}

p.desc {
    text-align: left;
    font-size: 22px;
    margin: 0 0 10px 0;
}

p.desc:last-child {
    margin: 0;
}

.footer {
    background-color: #212529;
    padding: 10px 0 10px 0;
}
.footer__container {
}
.footer__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.footer__grid-items-item-1 {
    display: grid;
}
.footer__grid-items-item-2 {
    display: grid;
    justify-items: end;
}
.footer__grid-items-item-3 {
    display: grid;
    align-items: end;
}
.footer__grid-items-item-4 {
    display: grid;
    justify-items: end;
    align-items: end;
}
a.personal_data:hover {
    color: #a1a1a1;
}
.link-to-favicon:hover {
    color: #a1a1a1;
}

@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
    .menu__item {
        margin: 0 40px 0 0;
    }

    .product__img {
        width: 250px;
        height: 250px;
    }

    p.desc {
        font-size: 16px;
    }
}

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }

    body {
        font-size: 12px;
    }
    .product_container {
        grid-template-columns: repeat(2, 1fr);
    }

    
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none
    }
}